Repository iTwin/admin-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kckst8, @raplemie, @itwin/oss-admins, @veekeys, @williamkbentley

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# The owners will be requested for
# review when someone opens a pull request.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
*       @kckst8 @raplemie

rush.json                       @itwin/oss-admins
.github/workflows/publish.yml   @itwin/oss-admins
 
# imodel-browser
packages/modules/imodel-browser/ @raplemie
common/changes/@itwin/imodel-browser-react/ @raplemie
packages/apps/storybook/src/imodel-browser/ @raplemie

# delete-imodel
packages/modules/delete-imodel/ @veekeys
common/changes/@itwin/delete-imodel-react/ @veekeys
packages/apps/storybook/src/delete-imodel/ @veekeys

# manage-versions
packages/modules/manage-versions/ @veekeys
common/changes/@itwin/manage-versions-react/ @veekeys
packages/apps/storybook/src/manage-versions/ @veekeys

# create-imodel
packages/modules/create-imodel/ @veekeys
common/changes/@itwin/create-imodel-react/ @veekeys
packages/apps/storybook/src/create-imodel/ @veekeys

# delete-itwin
packages/modules/delete-itwin/ @williamkbentley
common/changes/@itwin/delete-itwin-react/ @williamkbentley
packages/apps/storybook/src/delete-itwin/ @williamkbentley

Fixed upload image
  packages/modules/create-imodel/src/components/upload-image/UploadImage.tsx
Owners: @veekeys

Wrapped components with ThemeProvider
  packages/apps/storybook/src/create-imodel/CreateIModel.css
  packages/apps/storybook/src/create-imodel/CreateIModel.stories.tsx
  packages/modules/create-imodel/src/index.ts
  packages/modules/create-imodel/src/utils/WithThemeProvider.scss
  packages/modules/create-imodel/src/utils/WithThemeProvider.tsx
  packages/modules/delete-imodel/src/index.ts
  packages/modules/delete-imodel/src/utils/WithThemeProvider.scss
  packages/modules/delete-imodel/src/utils/WithThemeProvider.tsx
  packages/modules/delete-itwin/src/utils/WithThemeProvider.scss
  packages/modules/delete-itwin/src/utils/WithThemeProvider.tsx
  packages/modules/imodel-browser/src/components/noResults/NoResults.scss
  packages/modules/imodel-browser/src/components/noResults/NoResults.tsx
  packages/modules/imodel-browser/src/containers/ITwinGrid/ITwinGrid.tsx
  packages/modules/imodel-browser/src/containers/ITwinGrid/ITwinTile.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelThumbnail/IModelThumbnail.tsx
  packages/modules/imodel-browser/src/containers/iModelTiles/IModelTile.tsx
  packages/modules/imodel-browser/src/index.ts
  packages/modules/imodel-browser/src/utils/WithThemeProvider.scss
  packages/modules/imodel-browser/src/utils/WithThemeProvider.tsx
  packages/modules/manage-versions/src/index.ts
  packages/modules/manage-versions/src/utils/WithThemeProvider.scss
  packages/modules/manage-versions/src/utils/WithThemeProvider.tsx
Owners: @veekeys, @williamkbentley, @raplemie

updated itwinui-react to 2.11.4
  common/config/rush/pnpm-lock.yaml
  packages/apps/storybook/package.json
  packages/modules/create-imodel/package.json
  packages/modules/delete-imodel/package.json
  packages/modules/delete-itwin/package.json
  packages/modules/imodel-browser/package.json
  packages/modules/manage-versions/package.json
Owners: @kckst8, @raplemie, @veekeys, @williamkbentley

Reverted changes
  packages/apps/storybook/src/create-imodel/CreateIModel.css
  packages/apps/storybook/src/create-imodel/CreateIModel.stories.tsx
  packages/modules/create-imodel/src/components/base-imodel/BaseIModel.tsx
  packages/modules/create-imodel/src/index.ts
  packages/modules/create-imodel/src/utils/WithThemeProvider.scss
  packages/modules/create-imodel/src/utils/WithThemeProvider.tsx
  packages/modules/delete-imodel/src/components/DeleteIModel.tsx
  packages/modules/delete-imodel/src/index.ts
  packages/modules/delete-imodel/src/utils/WithThemeProvider.scss
  packages/modules/delete-imodel/src/utils/WithThemeProvider.tsx
  packages/modules/delete-itwin/src/components/DeleteITwin.tsx
  packages/modules/delete-itwin/src/index.ts
  packages/modules/delete-itwin/src/utils/WithThemeProvider.scss
  packages/modules/delete-itwin/src/utils/WithThemeProvider.tsx
  packages/modules/imodel-browser/src/components/noResults/NoResults.tsx
  packages/modules/imodel-browser/src/containers/ITwinGrid/ITwinGrid.tsx
  packages/modules/imodel-browser/src/containers/ITwinGrid/ITwinTile.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelThumbnail/IModelThumbnail.tsx
  packages/modules/imodel-browser/src/containers/iModelTiles/IModelGhostTile.tsx
  packages/modules/imodel-browser/src/containers/iModelTiles/IModelTile.tsx
  packages/modules/imodel-browser/src/index.ts
  packages/modules/imodel-browser/src/utils/WithThemeProvider.scss
  packages/modules/imodel-browser/src/utils/WithThemeProvider.tsx
  packages/modules/manage-versions/src/components/ManageVersions/ManageVersions.tsx
  packages/modules/manage-versions/src/index.ts
  packages/modules/manage-versions/src/utils/WithThemeProvider.scss
  packages/modules/manage-versions/src/utils/WithThemeProvider.tsx
Owners: @veekeys, @williamkbentley, @raplemie

Fixed upload image + border
  packages/modules/create-imodel/src/components/upload-image/UploadImage.scss
Owners: @veekeys

Adding infinite scroll
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
Owners: @raplemie

Upgraded iModelsApi to v2
  packages/apps/storybook/src/create-imodel/CreateIModel.stories.tsx
  packages/apps/storybook/src/examples/ProjectAwareComponent.tsx
  packages/apps/storybook/src/imodel-browser/IModelGrid.stories.tsx
  packages/apps/storybook/src/imodel-browser/ITwinGrid.stories.tsx
  packages/apps/storybook/src/utils/storyHelp.ts
  packages/modules/create-imodel/src/components/create-imodel/CreateIModel.test.tsx
  packages/modules/create-imodel/src/components/create-imodel/CreateIModel.tsx
  packages/modules/create-imodel/src/components/update-imodel/UpdateIModel.test.tsx
  packages/modules/create-imodel/src/components/update-imodel/UpdateIModel.tsx
  packages/modules/delete-imodel/src/components/DeleteIModel.test.tsx
  packages/modules/delete-imodel/src/components/DeleteIModel.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.test.ts
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
  packages/modules/imodel-browser/src/containers/iModelThumbnail/useIModelThumbnail.ts
  packages/modules/manage-versions/src/clients/changesetClient.test.ts
  packages/modules/manage-versions/src/clients/changesetClient.ts
  packages/modules/manage-versions/src/clients/httpClient.test.ts
  packages/modules/manage-versions/src/clients/httpClient.ts
  packages/modules/manage-versions/src/clients/namedVersionClient.test.ts
  packages/modules/manage-versions/src/clients/namedVersionClient.ts
  packages/modules/manage-versions/src/models/http.ts
Owners: @veekeys, @kckst8, @raplemie

rush change
  common/changes/@itwin/create-imodel-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/delete-imodel-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/delete-itwin-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/imodel-browser-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/manage-versions-react/DanishM-iModelApi_2023-06-09-12-22.json
Owners: @veekeys, @williamkbentley, @raplemie

Adding table view for iModel browser
  common/config/rush/pnpm-lock.yaml
  packages/modules/imodel-browser/package.json
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.scss
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelTableConfig.tsx
  packages/modules/imodel-browser/src/types.ts
Owners: @kckst8, @raplemie

Replaced Project with ITwin
  CONTRIBUTING.MD
  packages/apps/storybook/src/addon/register.js
  packages/apps/storybook/src/examples/ITwinAwareComponent.stories.tsx
  packages/apps/storybook/src/examples/ITwinAwareComponent.tsx
  packages/apps/storybook/src/examples/ProjectAwareComponent.stories.tsx
  packages/apps/storybook/src/imodel-browser/IModelGrid.stories.tsx
  packages/apps/storybook/src/utils/storyHelp.ts
  packages/modules/create-imodel/src/types.ts
  packages/modules/imodel-browser/src/types.ts
Owners: @kckst8, @raplemie, @veekeys

bringing itwinid back
  packages/apps/storybook/src/addon/register.js
Owners: @kckst8, @raplemie

Updated changelogs
  common/changes/@itwin/create-imodel-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/imodel-browser-react/DanishM-iModelApi_2023-06-09-12-22.json
Owners: @veekeys, @raplemie

Fixing dropped network call
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.scss
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
Owners: @raplemie

fixing page size back to 100
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
Owners: @raplemie

Fixing css issue
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.scss
Owners: @raplemie

Fix Tile height issue introduced by ThemeProvider
  packages/modules/imodel-browser/src/components/gridStructure/GridStructure.scss
Owners: @raplemie

Deleted changelog for @itwin/delete-itwin-react
  common/changes/@itwin/delete-itwin-react/DanishM-iModelApi_2023-06-09-12-22.json
Owners: @williamkbentley

Upgraded iModelsApi to v2 (#78)
  CONTRIBUTING.MD
  common/changes/@itwin/create-imodel-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/delete-imodel-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/imodel-browser-react/DanishM-iModelApi_2023-06-09-12-22.json
  common/changes/@itwin/manage-versions-react/DanishM-iModelApi_2023-06-09-12-22.json
  packages/apps/storybook/src/addon/register.js
  packages/apps/storybook/src/create-imodel/CreateIModel.stories.tsx
  packages/apps/storybook/src/examples/ITwinAwareComponent.stories.tsx
  packages/apps/storybook/src/examples/ITwinAwareComponent.tsx
  packages/apps/storybook/src/examples/ProjectAwareComponent.stories.tsx
  packages/apps/storybook/src/examples/ProjectAwareComponent.tsx
  packages/apps/storybook/src/imodel-browser/IModelGrid.stories.tsx
  packages/apps/storybook/src/imodel-browser/ITwinGrid.stories.tsx
  packages/apps/storybook/src/utils/storyHelp.ts
  packages/modules/create-imodel/src/components/create-imodel/CreateIModel.test.tsx
  packages/modules/create-imodel/src/components/create-imodel/CreateIModel.tsx
  packages/modules/create-imodel/src/components/update-imodel/UpdateIModel.test.tsx
  packages/modules/create-imodel/src/components/update-imodel/UpdateIModel.tsx
  packages/modules/create-imodel/src/types.ts
  packages/modules/delete-imodel/src/components/DeleteIModel.test.tsx
  packages/modules/delete-imodel/src/components/DeleteIModel.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.test.ts
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
  packages/modules/imodel-browser/src/containers/iModelThumbnail/useIModelThumbnail.ts
  packages/modules/imodel-browser/src/types.ts
  packages/modules/manage-versions/src/clients/changesetClient.test.ts
  packages/modules/manage-versions/src/clients/changesetClient.ts
  packages/modules/manage-versions/src/clients/httpClient.test.ts
  packages/modules/manage-versions/src/clients/httpClient.ts
  packages/modules/manage-versions/src/clients/namedVersionClient.test.ts
  packages/modules/manage-versions/src/clients/namedVersionClient.ts
  packages/modules/manage-versions/src/models/http.ts
Owners: @kckst8, @raplemie, @veekeys

Adding default grid as tile view
  packages/apps/storybook/src/imodel-browser/IModelGrid.stories.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
Owners: @raplemie

Fixing comments
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
Owners: @raplemie

Fixing review comment
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
Owners: @raplemie

Change log for cells view
  common/changes/@itwin/imodel-browser-react/sourabh-searching-and-table-view-along-with-iTwin-update-2.0-for-next-browser_2023-06-21-15-20.json
Owners: @raplemie

Sourabh/searching and table view along with i twin update 2.0 for next browser (#79)
  common/changes/@itwin/imodel-browser-react/sourabh-searching-and-table-view-along-with-iTwin-update-2.0-for-next-browser_2023-06-21-15-20.json
  common/config/rush/pnpm-lock.yaml
  packages/apps/storybook/src/imodel-browser/IModelGrid.stories.tsx
  packages/modules/imodel-browser/package.json
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.scss
  packages/modules/imodel-browser/src/containers/iModelGrid/IModelGrid.tsx
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelData.ts
  packages/modules/imodel-browser/src/containers/iModelGrid/useIModelTableConfig.tsx
  packages/modules/imodel-browser/src/types.ts
Owners: @raplemie, @kckst8

Fix Tile height issue introduced by ThemeProvider (#80)
  packages/modules/imodel-browser/src/components/gridStructure/GridStructure.scss
Owners: @raplemie

Unify dependencies
  packages/modules/manage-versions/package.json
Owners: @veekeys
